@model MyWebsite.Models.GreetingsModel

@{
    ViewBag.Title = $"Home - {Model.Name}";
    Layout = "_Layout";
}

<div class="container">
    <div class="py-5 text-center">
        <h2>@Model.Greetings</h2>
        <h3>Today is @Model.Now.DayOfWeek</h3>
        <p class="lead">Some nice text goes here...</p>
    </div>
</div>