@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <div class="py-5 text-center">
        <h2>Hi there!</h2>
        <p class="lead">Some nice text goes here...</p>
    </div>
</div>