@page
@using SchoolJournal.Pages;

@model AddJournalModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="container py-4">

    <!-- Save and Cancel buttons -->
    <div class="row py-4">
        <div class="col col-12 text-right">
            @*<a asp-page="Index" class="btn btn-success">
                Save
            </a>*@
            <a asp-page="Index" class="btn btn-secondary">
                Cancel
            </a>
        </div>
    </div>
</div>

