<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/css/bootstrap.css"/>
</head>

<body class="bg-light">

@RenderBody()

<script src="~/js/jquery-3.5.1.js"></script>
<script src="~/js/bootstrap.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>