@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="container text-center py-5">
    <h2>Specify argument value and click submit</h2>
    <form class="my-2">
        <input class="form-control mr-sm-2" type="text" placeholder="Specify argument value" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
    </form>
</div>

