@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="/math/factorial" class="btn btn-primary">Factorial</a>
    </div>
    <div class="col-sm">
      <a href="#" class="btn btn-primary">Min/Max</a>
    </div>
  </div>
</div>
